version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: devsecwatch-postgres
    environment:
      POSTGRES_DB: devsecwatch
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: devsecwatch-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:7-alpine
    container_name: devsecwatch-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
